{% extends 'bricks/base.html' %}
{% load fontawesome_5 %}
{% load static %}
{% load custom_filters %}
{% block content %}
<style>
/* CSS for color number */
.color-num {
    font-size: 12px;
    color: #000000; /* Text color */
}
/* Tooltip styles (Bootstrap) */
.tooltip-inner {
    max-width: 200px; /* Set the maximum width for the tooltip */
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px black;
    opacity: 2 !important;
}
.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: #FFFFFF;
}
</style>
    <div class="d-flex justify-content-end mb-2">
        <button
            id="toggleAggregatedViewButton"
            class="btn btn-primary"
            data-url="{% url 'toggleaggregatedview' %}"
            data-csrf-token="{{ csrf_token }}"
            data-view-mode="{% if request.session.view_mode == 'aggregated_view' %}aggregated_view{% else %}part_view{% endif %}"
        >
            {% if request.session.view_mode == 'aggregated_view' %}
                <i class="fas fa-minus-square"></i> <!-- Icon for aggregated view -->
            {% else %}
                <i class="fas fa-plus-square"></i> <!-- Icon for parts view -->
            {% endif %}
        </button>

        <script src="{% static 'js/toggle_aggregated_view_button.js' %}"></script>
    </div>

    {% if messages %}
        <div class="row mt-3">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="col-md-10 col-12 mx-auto alert alert-danger">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="col-md-10 col-12 mx-auto alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-md-10 col-12 mx-auto mt-5">
            <div class="d-flex justify-content-end">
                <a href="{% url 'add-part' %}" class="btn btn-primary">+</a>
            </div>
            {% if request.session.view_mode == 'aggregated_view' %}
                <!-- Display Aggregated View -->
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Item</th>
                        <th scope="col">Color</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Type</th>
                        <th scope="col">Subtype</th>
                        <th scope="col">Lists</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if aggregated_data|length == 0 %}
                        <tr>
                            <th scope="row">-</th>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}

                    {% for part_data in page_aggregated_data %}
                        <tr>
                            <th scope="row">{{ part_data.aggregated_part.PartID }}</th>
                            <td>
                                {% if part_data.aggregated_part.ImageReference %}
                                    <img src="{{ part_data.aggregated_part.ImageReference }}" alt="{{ part_data.aggregated_part.ItemID.Description }}"
                                    class="img-fluid" style="max-width: 50px;">
                                {% else %}
                                    - No Image -
                                {% endif %}   
                            </td>
                            <td>{{ part_data.aggregated_part.ItemID }}</td>
                            <td>
                                <div class="color-swatch"
                                    style="background-color: {{ part_data.aggregated_part.ColorID.RGB }}; padding: 5px; text-align: center;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-html="true"
                                    title="<div style='text-align: center;'><img src='/media/color_images/color.{{ part_data.aggregated_part.ColorID.ColorID }}.png' alt='Color Image' width: 55px; height: 45px;'><br>{{ part_data.aggregated_part.ColorID.HEX }}<br>{{ part_data.aggregated_part.ColorID.Name }}</div>">
                                    <div class="color-num"
                                        style="background: {{ part_data.aggregated_part.ColorID.RGB }}; color: {{ part_data.aggregated_part.ColorID.RGB|is_dark_color }}; font-size: 9px;">{{ part_data.aggregated_part.ColorID.Name }}</div>
                                </div>
                            </td>
                            <td>{{ part_data.aggregated_quantity }}</td>
                            <td>{{ part_data.aggregated_part.ItemID.TypeID.Name }}</td>
                            <td>{{ part_data.aggregated_part.ItemID.SubtypeID.Name }}</td>
                            <td>
                                {% for list in part_data.part_lists.all %}
                                    {% if list.CategoryID.Name == 'MOC Part' %}
                                        <span class="text-danger">{{ list.Name }}</span><br>
                                    {% else %}
                                        <span class="text-success">{{ list.Name }}</span><br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><a href="{% url 'edit-part' part_data.aggregated_part.PartID %}" class="btn btn-outline-secondary">Edit</a></td>
                            <td><a href="{% url 'delete-part' part_data.aggregated_part.PartID %}" class="btn btn-secondary">Delete</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            <!-- Pagination links -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_aggregated_data.has_previous %}
                        <a href="?aggregated_page=1">&laquo; first</a>
                        <a href="?aggregated_page={{ page_aggregated_data.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current-page">
                        Page {{ page_aggregated_data.number }} of {{ page_aggregated_data.paginator.num_pages }}
                    </span>

                    {% if page_aggregated_data.has_next %}
                        <a href="?aggregated_page={{ page_aggregated_data.next_page_number }}">next</a>
                        <a href="?aggregated_page={{ page_aggregated_data.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% else %}
                <!-- Display Non-Aggregated View -->            
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Item</th>
                        <th scope="col">Color</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Type</th>
                        <th scope="col">Subtype</th>
                        <th scope="col">List</th>
                        <th scope="col">Category</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if parts|length == 0 %}
                        <tr>
                            <th scope="row">-</th>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}

                    {% for part in page_parts %}
                        <tr>
                            <th scope="row">{{ part.PartID.PartID }}</th>
                            <td>
                                {% if part.PartID.ImageReference %}
                                    <img src="{{ part.PartID.ImageReference }}" alt="{{ part.PartID.ItemID.Description }}" class="img-fluid" style="max-width: 50px;">
                                {% else %}
                                    - No Image -
                                {% endif %}       
                            </td>
                            <td>{{ part.PartID.ItemID }}</td>
                            <td>
                                <div class="color-swatch"
                                    style="background-color: {{ part.PartID.ColorID.RGB }}; padding: 5px; text-align: center;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-html="true"
                                    title="<div style='text-align: center;''><img src='/media/color_images/color.{{ part.PartID.ColorID.ColorID }}.png' alt='Color Image' width: 55px; height: 45px;'><br>{{ part.ColorID.HEX }}<br>{{ part.ColorID.Name }}</div>">
                                    <div class="color-num"
                                        style="background: {{ part.PartID.ColorID.RGB }}; color: {{ part.PartID.ColorID.RGB|is_dark_color }}; font-size: 9px;">{{ part.PartID.ColorID.Name }}</div>
                                </div>
                            </td>
                            <td>{{ part.Quantity }}</td>
                            <td>{{ part.PartID.ItemID.TypeID.Name }}</td>
                            <td>{{ part.PartID.ItemID.SubtypeID.Name }}</td>
                            <td>{{ part.ListID.Name }}</td>
                            {% if part.ListID.CategoryID.Name == 'MOC Part' %}
                                <td class="text-danger">{{ part.ListID.CategoryID.Name }}</td>
                            {% else %}
                                <td class="text-success">{{ part.ListID.CategoryID.Name }}</td>
                            {% endif %}
                            <td><a href="{% url 'edit-part' part.PartID.PartID %}" class="btn btn-outline-secondary">Edit</a></td>
                            <td><a href="{% url 'delete-part-list' part.PartID.PartID part.ListID.ListID part.ListID.Name %}" class="btn btn-secondary">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            <!-- Pagination links -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_parts.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_parts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current-page">
                        Page {{ page_parts.number }} of {{ page_parts.paginator.num_pages }}
                    </span>

                    {% if page_parts.has_next %}
                        <a href="?page={{ page_parts.next_page_number }}">next</a>
                        <a href="?page={{ page_parts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}

            
        </div>
    </div>

<script>
    // Initialize tooltips
    $(document).ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip({
            trigger: 'hover',
            html: true,
            placement: 'top',
        });
    });
</script>
{% endblock content %}
