{% extends 'bricks/base.html' %}
{% load fontawesome_5 %}
{% load static %}
{% load custom_filters %}
{% block content %}

<style>
    /* CSS for color swatch */
    #color-matrix-table .color-swatch-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    #color-matrix-table .color-swatch {
        width: 45px;
        height: 25px;
        background-color: #FFFFFF; /* Default background color if needed */
        border: 1px solid rgb(212, 212, 212); /* Optional: Add a border */
        border-radius: 5px; /* Rounded corners */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer; /* Add a pointer cursor for interaction */
        margin: 3px;
        padding: 3px;
    }
    #color-matrix-table .color-swatch.selected {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); 
        border: 3px solid #000000; /* You can change the border color as needed */
    }
    /* CSS for color number */
    .color-num {
        font-size: 12px;
        color: #000000; /* Text color */
    }
    .input-group.fixed-width {
        width: 160px; /* Set the desired width here */
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Tooltip styles (Bootstrap) */
    .tooltip-inner {
        max-width: 200px; /* Set the maximum width for the tooltip */
        text-align: center;
        color: #000000;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 4px black;
        opacity: 2 !important;
    }
    .bs-tooltip-top .tooltip-arrow::before,
    .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
        border-top-color: #FFFFFF;
    }
</style>
<div class="container mt-3" data-item-id="{{ item.ItemID }}" data-update-available-parts-url="{% url 'update_available_parts' 0 %}">
    <div class="row">
        <!-- Navigation links -->
        <div class="col-md-12 mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'itemdetail' previous_item_id %}" class="btn btn-secondary">&larr; Previous</a>
                <a href="{% url 'itemview' %}" class="btn btn-primary">Return to Item View</a>
                <a href="{% url 'itemdetail' next_item_id %}" class="btn btn-secondary">Next &rarr;</a>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Left column for item image -->
        <div class="col-md-4">
            <div class="d-flex justify-content-center align-items-center" style="height: 50vh; border: 1px solid; border-radius: 10px; padding: 10px; box-shadow: 0px 0px 4px;">
                {% if item.WebrickInternalURL %}
                    <img
                        src="{{ item.WebrickInternalURL.url }}"
                        alt="{{ item.Name }}"
                        class="img-fluid"
                        style="max-width: 500px; max-height: 500px;"
                        data-magnify-src="{{ item.WebrickInternalURL.url }}"
                        />
                {% else %}
                    <!-- Handle the case when WebrickInternalURL is empty -->
                    <p>No image available</p>
                {% endif %}
            </div>
        </div>
        <!-- Right column for colors, item info, quantity, and button -->
        <div class="col-md-8">
            <!-- Item name and description -->
            <h2>{{ item.Name }}</h2>
            <p>{{ item.Description }}</p>

            <!-- Color matrix -->
            <table class="table" id="color-matrix-table">
                <thead>
                    <tr>
                        <th style="width: 30%;">Color Type</th> <!-- Adjust the width as needed -->
                        <th style="width: 70%;">Colors</th> <!-- Adjust the width as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for color_type, color_list in colors_by_type.items %}
                    <tr>
                        <td>{{ color_type }}</td>
                        <td>
                            <div class="color-swatch-container">
                                {% for color in color_list %}
                                <div class="color-swatch {% if color.ColorID == initial_color_id %}selected{% endif %}" 
                                    style="background-color: {{ color.RGB }};" 
                                    data-bs-toggle="tooltip" 
                                    data-bs-placement="top" 
                                    title="<div style='text-align: center;''><img src='/media/color_images/color.{{ color.ColorID }}.png' alt='Color Image' width: 110px; height: 90px;'><br>{{ color.HEX }}<br>{{ color.Name }}</div>"
                                    data-bs-html="true"
                                    data-color-id="{{ color.ColorID }}"
                                    onclick="selectColor(this)">
                                    <div class="color-num" style="background: {{ color.RGB }}; color: {{ color.RGB|is_dark_color }}">{{ color.WebrickColorID }}</div>
                                </div>                       
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group d-flex">
                        <label for="listSelector" style="width: 30%;">  List</label>
                        <select class="form-control" id="listSelector" name="listSelector" style="width: 70%;" onchange="selectList(this)">
                            <option value="" disabled selected>Select a List</option>
                            {% for list in lists %}
                                <option value="{{ list.ListID }}">{{ list.Name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>   
            <!-- Quantity input and Add to List button -->
            <div class="row mt-3">
                <div class="col-md-12">
                    <form method="post" action="{% url 'add-to-list' %}" id="addToListForm">
                        {% csrf_token %}
                        <input type="hidden" name="item" value="{{ item.ItemID }}">
                        <input type="hidden" name="color" id="color" value="">
                        <input type="hidden" name="selected_list" id="selectedListInput" value="">
                        {{ form.quantity }}
                        <div class="d-flex align-items-center">
                            <label for="quantity" style="width: 30%;">Quantity</label>
                            <div class="input-group fixed-width">
                                <button type="button" class="btn btn-outline-secondary" onclick="decrementValue()">-</button>
                                <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Quantity" style="max-width: 50px !important; width: 100% !important; text-align: right !important;" maxlength="4" value="0">
                                <button type="button" class="btn btn-outline-secondary" onclick="incrementValue()">+</button>
                            </div>
                                <button type="submit" class="btn btn-primary btn-block ml-3" id="addToList">Add to List</button>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    </div>

    <div>
        <br>  
    </div>
    <hr>

    <div class="row mt-3">
        <div class="col-md-12 col-12 mx-auto">
            <h2>Available Colors</h2>
                <table class="table table-hover table-striped" id="parts-table">
                    <thead>
                        <tr>
                            <th class="col">Part</th>
                            <th class="col">Image</th>
                            <th class="col">Color</th>
                            <th class="col">Lists</th>
                            <th class="col">Quantity</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="parts-table-body">
                        {% for part_info in parts_data %}
                        <tr>
                            <td>{{ part_info.part.PartID }}</td>
                            <td>
                                {% if part_info.part.InternalURL %}
                                    <img src="{{ part_info.part.InternalURL.url }}" alt="{{ part_info.part.ColorID.Name }}"
                                    class="img-fluid" style="max-width: 50px;">
                                {% else %}
                                    - No Image -
                                {% endif %}   
                            </td>
                            <td>
                                <div class="color-swatch"
                                    style="background-color: {{ part_info.part.ColorID.RGB }}; padding: 5px; text-align: center;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-html="true"
                                    title="<div style='text-align: center;''><img src='/media/color_images/color.{{ part_info.part.ColorID.ColorID }}.png' alt='Color Image' width: 55px; height: 45px;'><br>{{ part_info.part.ColorID.HEX }}<br>{{ part_info.part.ColorID.Name }}</div>">
                                    <div class="color-num"
                                        style="background: {{ part_info.part.ColorID.RGB }}; color: {{part_info.part.ColorID.RGB|is_dark_color }}; font-size: 9px;">{{ part_info.part.ColorID.Name }}</div>
                                </div>
                            </td>
                            <td>
                                {% for list in part_info.appearing_lists %}
                                    {% if list.CategoryID.Name == 'MOC Part' %}
                                        <span class="text-danger">{{ list.Name }}</span><br>
                                    {% else %}
                                        <span class="text-success">{{ list.Name }}</span><br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ part_info.total_quantity }}</td>
                            <td><a href="{% url 'partdetail' part_info.part.PartID %}" class="btn btn-outline-secondary">Edit</a></td>
                            <td><a href="{% url 'delete-part' part_info.part.PartID %}" class="btn btn-secondary">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
            </div>
            <div class="modal-body">
                Part has succesfully been added to your collection in list ....
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Function to select a list
    function selectList(list) {
        var selectedListInput = document.getElementById('selectedListInput');
        selectedListInput.value = list.value;
        updateAddToListButtonState();
    }

    // Function to update the state of the "Add to List" button
    function updateAddToListButtonState() {
        var quantityField = document.getElementById('quantity');
        var listSelector = document.getElementById('listSelector');
        var addButton = document.getElementById('addToList');

        // Check if quantity is greater than 0 and a list is selected
        if (parseInt(quantityField.value) > 0 && listSelector.value !== '') {
            addButton.disabled = false; // Enable the button
        } else {
            addButton.disabled = true; // Disable the button
        }
    }

    // Initialize tooltips
    $(document).ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip({
            trigger: 'hover',
            html: true,
            placement: 'top',
        });
        
        // Call the function to set the initial button state on page load
        updateAddToListButtonState();
    });

    // Functions to increment and decrement quantity
    function decrementValue() {
        var quantityField = document.getElementById("quantity");
        var currentValue = parseInt(quantityField.value);
        if (currentValue > 0) {
            quantityField.value = currentValue - 1;
        }
        updateAddToListButtonState();
    }

    function incrementValue() {
        var quantityField = document.getElementById("quantity");
        var currentValue = parseInt(quantityField.value);
        quantityField.value = currentValue + 1;
        updateAddToListButtonState();
    }

    // Function to select a color
    function selectColor(colorSwatch) {
        // Deselect all color swatches by removing the 'selected' class
        var allColorSwatches = document.querySelectorAll('.color-swatch');
        allColorSwatches.forEach(function (swatch) {
            swatch.classList.remove('selected');
        });

        // Select the clicked color swatch by adding the 'selected' class
        colorSwatch.classList.add('selected');

        // Get the color ID from the data attribute
        var colorID = colorSwatch.getAttribute('data-color-id');

        document.getElementById('color').value = colorID;
    }

    // Manually trigger selectColor for the initially selected color on page load
    document.addEventListener('DOMContentLoaded', function () {
        var initialColorID = {{ initial_color_id }};
        var initialColorSwatch = document.querySelector('.color-swatch[data-color-id="' + initialColorID + '"]');
        if (initialColorSwatch) {
            selectColor(initialColorSwatch);
        }
    });

    // Initialize image magnification
    $(document).ready(function () {
        $('img[data-magnify-src]').magnify();
    });

    // Handle form submission
    $(document).ready(function () {
        $('#addToListForm').on('submit', function (e) {
            e.preventDefault(); // Prevent the form from submitting normally
    
            var form = $(this);  // Store the form for later use
    
            $.ajax({
                type: 'POST',
                url: '{% url 'add-to-list' %}',
                data: form.serialize(),
                success: function (data) {
                    if (data.success) {
                        // Clear the input fields and reset the Add to List button
                        form.find('input[type=number]').val(0);
                        $('#listSelector').val('');
                        $('#addToList').prop('disabled', true);
    
                        // Display the success modal
                        $('#successModal .modal-body').text(data.message);
                        $('#successModal').modal('show');

                        // Update the "Available Colors" table
                        $('#successModal').on('shown.bs.modal', function () {
                            updateAvailablePartsTable();
                        });
                    } else {
                        alert('Error: ' + data.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                }
            });
        });
    });

    // Function to update the "available parts" table
    function updateAvailablePartsTable() {
        var item_id = $('.container').data('item-id');
        var updatePartsUrl = $('.container').data('update-available-parts-url');  // Retrieve the URL
        var url = updatePartsUrl.replace('/0/', '/' + item_id + '/');
        var csrftoken = getCookie('csrftoken');

        $.ajax({
            type: 'POST',
            url: url,
            data: $(this).serialize(),
            headers: { "X-CSRFToken": csrftoken },
            success: function (data) {
                if (data.success) {
                    // Select the table body
                    var tableBody = $('#parts-table-body');
                    
                    // Create a variable to store the new HTML content
                    var newTableContent = '';
                    
                    // Iterate through the parts_data and create new rows
                    data.parts_data.forEach(function(partInfo) {
                        newTableContent += '<tr>';
                        newTableContent += '<td>' + partInfo.part.id + '</td>';
                        newTableContent += '<td>';
                        if (partInfo.part.image) {
                            newTableContent += '<img src="' + partInfo.part.image + '" alt="' + partInfo.part.colorname + '" class="img-fluid" style="max-width: 50px;">';
                        } else {
                            newTableContent += '- No Image -';
                        }
                        newTableContent += '</td>';
                        newTableContent += '<td>';
                        newTableContent += '<div class="color-swatch" style="background-color:' + partInfo.part.RGB + '; padding: 5px; text-align: center;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<div style=\'text-align: center;\'><img src=\'/media/color_images/color.' + partInfo.part.colorid + '.png\' alt=\'Color Image\' width: 55px; height: 45px;><br>' + partInfo.part.HEX + '<br>' + partInfo.part.colorname + '</div>">';
                            newTableContent += '<div class="color-num" style="background: ' + partInfo.part.RGB + '; color: ' + (isDarkColor(partInfo.part.HEX) ? 'white' : 'black') + '; font-size: 9px;">' + partInfo.part.colorname + '</div>';
                        newTableContent += '</div>';
                        newTableContent += '</td>';
                        newTableContent += '<td>';
                        partInfo.appearing_lists.forEach(function(list) {
                            if (list.category && list.name) {
                                newTableContent += list.category === 'MOC Part' ? '<span class="text-danger">' + list.name + '</span><br>' : '<span class="text-success">' + list.name + '</span><br>';
                            } else {
                                newTableContent += 'Category or Name is undefined<br>';
                            }
                        });
                        newTableContent += '</td>';
                        newTableContent += '<td>' + partInfo.total_quantity + '</td>';
                        newTableContent += '<td><a href="/partdetail/' + partInfo.part.id + '" class="btn btn-outline-secondary">Edit</a></td>';
                        newTableContent += '<td><a href="/delete-part/' + partInfo.part.id + '" class="btn btn-secondary">Delete</a></td>';
                        newTableContent += '</tr>';
                    });
                    
                    // Set the table body's HTML to the new content
                    tableBody.html(newTableContent);
                    $('[data-bs-toggle="tooltip"]').tooltip();
                } else {
                    alert('Error: ' + data.message);
                }
            },
            error: function (xhr, status, error) {
                console.log('Error:', xhr.responseText);
                console.log('Status:', status);
                console.log('Error message:', error);
            }
        });
    }

    // Function to get the CSRF token from cookies
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    // Function to determine if a color is dark or not
    function isDarkColor(hexColor) {
        // Convert hex color to RGB
        var r = parseInt(hexColor.slice(1, 3), 16);
        var g = parseInt(hexColor.slice(3, 5), 16);
        var b = parseInt(hexColor.slice(5, 7), 16);
    
        // Calculate the perceived luminance
        var luminance = (0.299 * r + 0.587 * g + 0.114 * b) / 255;
    
        // You can adjust this threshold to your preference
        var threshold = 0.5;
    
        return luminance < threshold;
    }
</script>

{% endblock content %}
