{% extends 'bricks/base.html' %}

{% block content %}
	<div class="row">
		<div class="col-md-10 col-12 mx-auto mt-5">
			<div class="d-flex justify-content-end">
				<a href="#" class="btn btn-primary">+</a>
			</div>

			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>						
						<th scope="col">Description</th>
						<th scope="col">#Items</th>
						<th scope="col">#Pieces</th>					
						<th scope="col">Category</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% if list_data|length == 0 %}
					<tr>
						<th scope="row">-</th>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>	
						<td>-</td>
						<td></td>
					</tr>
					{% endif %}

					{% for item in list_data %}
					<tr>
						<th scope="row">{{ item.list.ListID }}</th>
						<td>{{ item.list.Name }}</td>
						<td>{{ item.list.Description }}</td>
						<td>{{ item.unique_part_count }}</td>
						<td>{{ item.total_quantity }}</td>
						<td>{{ item.list.CategoryID.Name }}</td>
						<td><a href="#" class="btn btn-outline-secondary">View</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
            <p>{{ list_data|length }} Item(s)</p>
		</div>
	</div>
{% endblock content %}