asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
crispy-bootstrap5==0.7
Django==4.2.4
django-crispy-forms==2.0
django-environ==0.11.2
django-fontawesome-5==1.0.18
et-xmlfile==1.1.0
greenlet==2.0.2
gunicorn==21.2.0
idna==3.4
mysqlclient==2.2.0
numpy==1.25.2
openpyxl==3.1.2
packaging==23.2
pandas==2.1.0
Pillow==10.0.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.20
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
